This file describes syntax used in .config file

.config file should be placed in www_root directory

Definitions:
resource := relative path to target resource starting from www_root directory
LF := "\n" line feed character
TAB := "\t" tab character
SP := " " single space character
STATUS := HTTP status code
request_path := path of a http request
field_name := field name of field line
func := function used to generate field_value at runtime
field_value := field value of field line

Syntax of .config file
*(resource LF
	TAB "status" SP STATUS LF
	1*(TAB "path" SP (request_path | "*") LF)
	*(TAB "field_line" SP field_name SP ("function" SP func |"value" SP field_value) LF)
) LF

"*" matches any path of a http request that doesn't match any other req_tar present in .config file.
It can be used at most once.

List and short descriptions of defined functions for generating field_values at runtime:
file_size - gets the file size, used with Content-Length

Example:
__________________________________________
index.html
	status 200
	path /
	path /index.html
	field_line Content-Length function file_size
	field_line Content-Type value text/html
404.html
	status 404
	path *
	field_line Content-Length function file_size
	field_line Content-Type value text/html


__________________________________________

GET requests to "/" and "/index.html" would produce the following response
HTTP/1.1 200 
Content-Length:<size of index.html measured at runtime>
Content-Type:text/html

<body containing index.html>

GET request to any other path would produce the following response
HTTP/1.1 404 
Content-Length:<size of 404.html measured at runtime>
Content-Type:text/html

<body containing 404.html>

