This file describes syntax used in .config file

.config file should be placed in www_root directory

Definitions:
target := relative path to target resource starting from www_root directory
req_tar := path of a http request (extracted from request-target) mapped to a given target resource
field_name := field name of field line
SP := ' ' single space character
DQ := '"' double quote character
TAB := '\t' tab character
LF := '\n' line feed character
STATUS := HTTP status code
func := function used to generate field_value at runtime
field_value := field value of field line

Syntax of .config file
*(target LF
	TAB "status" SP STATUS LF
	1*(TAB "path" SP (req_tar | "*") LF)
	*(TAB field_name SP ("@" func | DQ field_value DQ) LF)
) LF

"*" matches any path of a http request that doesn't match any other req_tar present in .config file.
It can be used at most once.

List and short descriptions of defined functions for generating field_values at runtime:
file_size - gets the file size, used with Content-Length

Example:
__________________________________________
index.html
	status 200
	path /
	path /index.html
	Content-Length @file_size
	Content-Type "text/html"
404.html
	status 404
	path *
	Content-Length @file_size
	Content-Type "text/html"


__________________________________________

Requests to "/" and "/index.html" would produce the following response
HTTP/1.1 200 
Content-Length:<size of index.html measured at runtime>
Content-Type:text/html

<body containing index.html>

Request to any other path would produce the following response
HTTP/1.1 404 
Content-Length:<size of 404.html measured at runtime>
Content-Type:text/html

<body containing 404.html>

