This file describes syntax used in .config file

.config file should be placed in www_root directory

Definitions:
target := relative path to target resource starting from www_root directory
req_tar := path of a http request (extracted from request-target) mapped to a given target resource
field_name := field name of field line
SP := ' ' single space character
func := function used to generate field_value at runtime
field_value := field value of field line
def_target := target resource used for paths of http requests that do not match any other req_tar listed in .config file

Syntax of .config file

*(target "\n"
	1*("\t" req_tar "\n")
		*("\t\t" field_name (SP "@" func "\n" | "\n"
			1*("\t\t\t" field_value "\n")))
"\n")
[def_target "\n"
	1*("\t" req_tar "\n")
		*("\t\t" field_name (SP "@" func "\n" | "\n"
			1*("\t\t\t" field_value "\n")))]

List and short descriptions of defined functions for generating field_values at runtime:
file_size - gets the file size, used with Content-Length

Example:
__________________________________________
index.html
	/
	/index.html
		Content-Length @file_size
		Content-Type
			text/html

404.html
		Content-Length @file_size
		Content-Type
			text/html
__________________________________________

Requests for "/" and "/index.html" would produce the following response
HTTP/1.1 200
Content-Length:<size of index.html measured at runtime>
Content-Type:text/html

<body containing index.html>

Requests for any other path would use def_target of 404.html and would produce following response
HTTP/1.1 404
Content-Length:<size of 404.html measured at runtime>
Content-Type:text/html

<body containing 404.html>

